<div class="hero-unit">
  <form id="todo-form" class="form-horizontal" action="/todos" method="POST">
    <fieldset>
      <legend>Create a new Todo</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>
      <div class="control-group">
        <label for="title" class="control-label">title</label>
        <div class="controls">
          <%- contentTag('input', '', {type:'text', class:'span6', name:'title'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="status" class="control-label">status</label>
        <div class="controls">
          <%- contentTag('input', '', {type:'text', class:'span6', name:'status'}) %>
        </div>
      </div>
    <div class="form-actions">
      <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
    </div>
    </fieldset>
  </form>
</div>
